
:root {
  --color-body-bg: #110039;
  --color-text: #fff;
  --color-text-hover: #e7cdff;
  --color-todolist-item: #010004;
  --color-todolist-item-arhived: #9e98ab;
  --color-header: #833cee;
  --color-button-bg: #232323;
  --color-button-hover: #9650ff;
  --color-button-hover-bg: #6e15b5;
  --color-button-red: #ca2020;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;

  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--color-body-bg);

  transition: color 0.5s, background-color 0.5s;
}
