
:root {
  --color-theme-dark: #1A2238;
  --color-theme-white: #fff;
  --color-theme-black: #000;
  --color-theme-blue: #9DAAF2;
  --color-theme-orange: #FF6A3D;
  --color-theme-yellow: #F4DB7D;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;

  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-theme-white);
  background-color: var(--color-theme-dark);

  transition: color 0.5s, background-color 0.5s;
}
